header{
  position: fixed;
  background-color: #F6F0BC;
  width: 100%;
  margin: 0;
  z-index: 1;
  padding:10px
}

#nav {
  font-size:24px;
  text-align: center;
}

div#titleseca {
  background-repeat: repeat-x;
  background-attachment: fixed;
}

div#titlesecb {
  margin:10px auto;
  background-attachment: fixed;
  position:fixed;
  top:0;
  z-index: -1;
}

#content{
  position: relative;
  width:80%;
  margin:10px auto;
  background-color: #F6F0BC;
  top: 30vh;
  padding: 20px;
  border-radius:50px;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 40%;
  left: 40%;
}

body {
  background-image:url("images/background.png");
  margin: 0;
  padding: 0;
}

#links {
  position: relative;
  top: 20vh;
}

#headertags{
  background-color: #b86200;
  border-radius: 10px;
  padding:10px;
  margin-right:5px;
  margin-left: 5px;
}

span a {
   text-decoration: none;
}