header{
  position: fixed;
  background-color: #FFFFFF;
  width: 100%;
  margin: 0;
  z-index: 1;
}

p {
  font-size:24px;
}

div#titleseca {
  background-repeat: repeat-x;
  background-attachment: fixed;
}

div#titlesecb {
  margin:10px auto;
  background-attachment: fixed;
  position:fixed;
  top:0;
  z-index: -1;
}

#content{
  position: relative;
  width:80%;
  margin:10px auto;
  background-color: #FFFFFF;
  top: 30vh;
}

footer {
  text-align: center;
}

body {
  background-image:url("images/background.png");
  margin: 0;
  padding: 0;
}

#nav {
  position: relative;
  top: 20vh;
}